<div class="container">
  <div class="row">
    <div class="col-md-11 align-self-center">
      <div class="card">
        <div class="card-block test-xs-center">
          <center>
            <span style="padding-right: 1cm;"><a href="/home" style="color:#FF4081; font-size: 130%;"><i class="fa fa-ticket" style="padding-right: 0.2cm; font-size: 130%;"></i>BOOK MY SHOW</a></span>
            <span ng-show="adminCity" style="padding-right: 1cm;"><a href="/city"><i class="fa fa-map-marker" style="padding-right: 0.2cm;"></i>City</a></span>
            <span ng-show="adminMovies" style="padding-right: 1cm;"><a href="/movies"><i class="fa fa-film" style="padding-right: 0.2cm;"></i>Movies</a></span>
            <span ng-show="adminTheatre" style="padding-right: 1cm;"><a href="/theatre"><i class="fa fa-film" style="padding-right: 0.2cm;"></i>Theatre</a></span>
            <span ng-show="adminShowtime" style="padding-right: 1cm;"><a href="/showtime"><i class="fa fa-clock-o" style="padding-right: 0.2cm;"></i>Showtime</a></span>
            <span ng-show="adminBooking" style="padding-right: 1cm;"><a href="/booking"><i class="fa fa-book" style="padding-right: 0.2cm;"></i>Bookings</a></span>
            <span ng-show="adminAssign" style="padding-right: 1cm;"><a href="/assign"><i class="fa fa-pencil" style="padding-right: 0.2cm;"></i>Assign</a></span>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-1 align-self-center">
      <div class="card">
        <div class="card-block test-xs-center waves-effect" ng-click="logoutUser()">
          <center><i class="fa fa-power-off"></i></center>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container jumbotron text-center wow fadeInUp" data-wow-delay="0.5s">
    <h1>City</h1>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>City List</th>
                        <th>Operations</th>
                        <th>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td><input ng-model="city.cityName" /></td>

                        <td><button ng-click="addCity(city)" class="btn btn-dark-green waves-effect">Add </button></td>

                        <td><button ng-click="updateCity(city)" class="btn btn-mdb waves-effect">Update</button></td>

                    </tr>
                    <tr ng-repeat=" city in cityList">
                        <td>{{city.cityName}}</td>

                        <td><button ng-click="removeCity(city)" class="btn btn-danger waves-effect">Remove</button></td>
                        <td><button ng-click="editCity(city)" class="btn btn-primary waves-effect">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
